<section>
	<a class="anchor" name="dashboard"> </a>
	<div class="jumbotron">
  		<h1>Dashboard</h1>
  		<p>Users can interface with the loan smart contract here.</p>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Borrow Form</h3>
		</div>
		<div class="panel-body">

		<div class="form-group">
  			<div class="input-group">
    		<span class="input-group-addon">USD Loan Amount </span>
		    <input type="text" class="form-control">
  			</div> <br>
  			<div class="input-group">
  			<span class="input-group-addon">ETH Collateral</span>
		    <input type="text" class="form-control">
  			</div> <br>
  			<input type="submit" class="form-control" value="Borrow">
		</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Sell Form</h3>
		</div>
		<div class="panel-body">
			IDK what goes here tbh
		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Force Sell Form</h3>
		</div>
		<div class="panel-body">
			IDK what goes here tbh
		</div>
	</div>
</section>
	