<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Token-backed Loans</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="scroll" href="#dashboard">Dashboard</a></li>
        <li><a class="scroll" href="#active_loans">Active Loans</a></li>
        <li><a class="scroll" href="#about">About</a></li>
      </ul>
    </div>
  </div>
</nav>