<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/cyborg.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/about_manage.js"> </script>
  </head>
  <body>
  	<% include partials/nav %>
  	<% include partials/dashboard %>
  	<% include partials/active_loans %>
  	<% include partials/about %>
  </body>
</html>
