.rotate45 
{
-webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
transform:rotate(45deg); /* Standard syntax */
}

.rotate135
{
-webkit-transform:rotate(135deg); /* Chrome, Safari, Opera */
transform:rotate(135deg); /* Standard syntax */
}

.center-children
{
	text-align: center;
	position: relative;
}

.inline-block
{
	text-align: center;
	display: inline-block;
}

body
{
	padding-top: 60px;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}